body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #B6B4B4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
